@import "tailwindcss";

@plugin "@tailwindcss/typography";

@theme {
  --color-zinc-850: #1f1f23;
  --color-zinc-950: #0c0c0e;
}

@layer base {
  body {
    @apply bg-zinc-950 text-zinc-100 antialiased;
  }
}
